.footer {
    position: relative;
    height: auto;
    width: 100%;
    background-color: $color-4;
    padding: 2rem;

    &_container {
        margin: 5rem 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond(tab-land) {
            margin: 5rem;
        }
        @include respond(phone) {
            margin: 3rem 1rem;
            flex-direction: column;
        }

        &_cont {
            margin: 0 4rem;
            padding: 2rem;
            border-left: 1px solid white;
            display: flex;
            flex-direction: column;
        }
    }

    &_aut {
        margin: 1rem 0;
        text-align: center;
    }
}
