.container_wrap_gallery {
    width: 100%;
    margin: 2rem auto;
}

.container_wrap_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery_img {
    display: none;
    margin: 1rem auto;
    height: auto;
    width: 100%;
}

.gall-buttons {
    margin: 1rem auto;

    @include respond(phone) {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    &_btn-1 {
        width: 10rem;
        height: 4rem;
        @include respond(phone) {
            width:48%;
            height: 10rem;
        }
    }

    &_btn-2 {
        width: 3rem;
        height: 3rem;
        @include respond(phone) {
            display: none;
        }
    }
}

.gallery-button {
    background-color: $color-1;
    border: none;
    color: $font-color;
    transition: all 0.3s;

    &:hover{
        background-color: $color-4;
        color: $color-2;
    }

    &:active {
        background-color: $color-3;
        color: $color-2;
    }
}

.gallery-button-blue {
    background-color: $color-3;

    &:hover{
        background-color: $color-4;
        color: $color-2;
    }

    &:active {
        background-color: $color-4;
        color: $color-2;
    }
}
