.header {
    margin: 4rem 0;
    height: auto;

    &_back {
        background-image: url("../img/Photo by Scott Webb on Unsplash.jpg");
        background-attachment: fixed;
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height:45rem;
        width: auto;

        border-top: 7px solid $color-1;
        border-bottom: 7px solid $color-1;
        object-fit: cover;
    }

    &_hed-1 {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
        z-index: 3;
    }

    &_lang {
        margin: 0 auto;
        width: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // position: absolute;
        // top: 0;
        // right: 4rem;
        &_pl-cz {

        }
    }
}
