
.header {
    position: relative;
    height: auto;

    &_back {
        background-image: url("../img/Photo by Scott Webb on Unsplash.jpg");
        background-attachment: fixed;
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 45rem;
        width: auto;
        border-top: 7px solid $color-1;
        border-bottom: 7px solid $color-1;
        object-fit: cover;
    }

    &_hed-1 {
        margin: 6rem 0;
        width: 100%;
        text-align: center;
        z-index: 3;
        display: block;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }

    &_lang {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translate(-50%, -50%);

        &_pl-cz {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.hamicon-container {
    display: block;
    position: relative;
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-1;
}
.ham-icon {
    // @include absCenetr;
    cursor: pointer;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
        width: 3rem;
        height: 3rem;
    }
}
