.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:8rem 35rem;


    &_linkbox {
        display: block;
        position: relative;
        width: 100%;

        &_link {
            display: inline-block;
            @include absCenetr;
        }
    }
}
