.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6rem 20rem;

    &_linkbox {
        position: relative;
        width: 100%;

        &_link {
            display: block;
            @include absCenetr;
        }
    }
}
